body {
  background-color: black;
}

p {
  color: #f2cc8f;
  text-align: center;
  font-size: 25px;
}

/* .headers {
  color: #f2cc8f;
  text-align: center;
} */
body {
  background-color: rgb(188, 62, 62);
}
li {
  color: #f2cc8f;
  list-style-type: none;
  font-size: 30px;
  display: inline-block;
}
a:link {
  color: rgb(149, 75, 0);
  text-decoration: none;
}
a:hover {
  color: rgb(149, 75, 0);
  text-decoration: none;
}
a:visited {
  color: #f2cc8f;
  text-decoration: none;
}
a:active {
  color: rgb(149, 75, 0);
  text-decoration: none;
}

.wrapper {
  text-align: left;
}

fieldset {
  border-color: #f2cc8f;
}

.float {
  float: right;
  margin: 10px;
  font-size: 15px;
}

a {
  font-size: 30px;
}

p {
  color: #a58a61;
  text-align: center;
  font-size: 25px;
}
h1 {
  text-align: center;
  color: #000000;
}
